<launch>
	<node pkg="msa010_ros" type="laser_scan_filter_node" name="laser_scan_filter_node" output="screen">
		<param name="scan_input" value="scan" />
		<param name="scan_output" value="scan_cutoff" />
		<param name="range_min" value="0.2" />
		<param name="range_max" value="3.0" />
	</node>
</launch>